backend/database/.vagrant/

# Node.js dependencies
node_modules/

# React build artifacts
build/
dist/

# Python virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Python environment files
.Python
db.sqlite3  # If using SQLite

# System files
.DS_Store  # macOS
Thumbs.db  # Windows

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# Git files
.git/
